<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content" id="top">
      <header class="masthead">
        <h1 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
        </h1>

        <nav class="navbar-custom">
          <ul class="bar">
            {% for page in site.pages_list %}
              <li><small><a href="{{ page[1]  }}">{{ page[0] }}</a></small></li>
            {% endfor %}
          </ul>
        </nav>

      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        {% include icons.html %}
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}. All rights reserved.
        </small>

      </footer>
    </div>

  </body>
  {% include google_analytics.html %}
</html>
