---
layout: default
---

<table id='splash'>
  <tr align='center'>
    <th>
      <span class="image avatar"><img src="{{ site.author.avatar }}" alt="" /></span>
    </th>
    <th>
      <ul>
        <li>{{ site.author.title }}</li>
        <li>{{ site.author.location }}</li>
        <li><a href="{{ site.author.affiliation_url_1 }}">{{
                site.author.affiliation_1 }}</a></li>
        <li><a href="{{ site.author.affiliation_url_2 }}">{{
                site.author.affiliation_2 }}</a></li>
      </ul>

      {% include icons_profile.html %}
    </th>
  </tr>
</table>

{{ content }}
